<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Python - Lab 1.1.1

## Learning objectives

This lab provides practice in:

1. Creating and manipulating lists
2. For loops
3. Creating dictionaries
4. Importing modules and functions
5. Plotting line, bar, and histogram charts using `matplotlib`
6. Simple customisations when creating visualisations
7. Using the `pandas` module for data import and analysis
8. Using the `seaborn` module for data visualisation

## Instructions:

1. Replace ??? with the appropriate code
2. Press Shift + Enter to execute cell

This is an example cell for text.

In [ ]:
# This is an example cell for code.

## Working with lists

In [2]:
# below is a list of 10 students (using just first name)
students = ['Alice','Ben','Cathy','Dawn','Emily','Fern','Emma','Sean','Felix','Hugh']

In [3]:
# Print the list
print(students)

['Alice', 'Ben', 'Cathy', 'Dawn', 'Emily', 'Fern', 'Emma', 'Sean', 'Felix', 'Hugh']

In [7]:
# Print the list of students in the following format
# Index 01 	 Alice
# Index 02 	 Ben
# Index 03 	 Cathy
# ...
for i, student in enumerate (students, start=1):
    print(f'index {i:02d} \t {student}')

index 01 	 Alice
index 02 	 Ben
index 03 	 Cathy
index 04 	 Dawn
index 05 	 Emily
index 06 	 Fern
index 07 	 Emma
index 08 	 Sean
index 09 	 Felix
index 10 	 Hugh

In [13]:
# print the list of students in reverse order one student in a line with its index
# google search how to print list in reverse order
students_reversed = students.copy()
students_reversed.reverse()
for i, student in enumerate(students_reversed):
    print (f'Index {i:02d} \t {student}')

Index 00 	 Hugh
Index 01 	 Felix
Index 02 	 Sean
Index 03 	 Emma
Index 04 	 Fern
Index 05 	 Emily
Index 06 	 Dawn
Index 07 	 Cathy
Index 08 	 Ben
Index 09 	 Alice

In [19]:
# print the student list in random order
# hint look up the function random.sample
import random
random_students = random.sample(students, len(students))
for i, student in enumerate (random_students, start=1):
    print(f'index {i:02d} \t {student}')

index 01 	 Alice
index 02 	 Ben
index 03 	 Emma
index 04 	 Emily
index 05 	 Felix
index 06 	 Dawn
index 07 	 Sean
index 08 	 Hugh
index 09 	 Fern
index 10 	 Cathy

In [31]:
# list students in decreasing order of their exam marks given their marks below
# hint: look up the 'sorted' function
students = ['Alice','Ben','Cathy','Dawn','Emily','Fern','Emma','Sean','Felix','Hugh']
marks = [87,45,76,64,66,90,55,73,69,75]
studentsAndMarks = dict(zip(students,marks))

sorted_students= sorted(studentsAndMarks.items(), key=lambda x: x[1], reverse=True)
print(f"Students and their marks: \n {sorted_students}")

Students and their marks:
 [('Fern', 90), ('Alice', 87), ('Cathy', 76), ('Hugh', 75), ('Sean', 73), ('Felix', 69), ('Emily', 66), ('Dawn', 64), ('Emma', 55), ('Ben', 45)]

In [25]:
#desired output:

In [ ]:
#desired output:

['fern',
 'alice',
 'cathy',
 'hugh',
 'sean',
 'felix',
 'emily',
 'dawn',
 'emma',
 'ben']

## Using matplotlib

In [2]:
pip install numpy

import numpy as np
import matplotlib.pyplot as plt

# Create a set of x values
x = np.linspace(0, 10, 101)
# Print the inputs
print(x)

SyntaxError: invalid syntax (60814820.py, line 1)

In [50]:
# Create a figure using plt.figure
#fig = plt.figure()
# Plot the sine of x
plt.plot(x, np.sin(x), '-')
# Plot the cosine of x
plt.plot(x, np.cos(x), '.')
plt.show()

NameError: name 'plt' is not defined

## Plotting bar charts

In [53]:
import numpy as np
import matplotlib.pyplot as plt

# Create two lists of 5 arbitrary numbers
array1 = [2, 7, 1, 9, 4]
array2 = [5, 3, 8, 6, 0]

# Plot two bar charts using plt.bar and the lists you've created above
# Label them "Example one" and "example two"

x = np.arange(len(array1)) # Use the correct range for the x-axis

plt.bar(x - 0.2, array1, label="Example one", width=0.4) # Shift the first bar slightly to the left
plt.bar(x + 0.2, array2, label="Example two", color='g', width=0.4) # Shift the second bar slightly to the right

plt.legend()
# Label x axis "Bar number"
plt.xlabel('Bar number') # More descriptive x-axis label
# Label y axis "Bar height"
plt.ylabel('Bar height') # More descriptive y-axis label
# Set title "Bar Graph"
plt.title("Bar Graph")
# Show the chart

ModuleNotFoundError: No module named 'numpy'

In [45]:
Run the following two cells to understand the inputs of the plt.bar function above.

SyntaxError: invalid syntax (4180995078.py, line 1)

In [47]:
np.arange(2*len(array1))[::2]

NameError: name 'np' is not defined

In [ ]:
np.arange(2*len(array1))[::2]+1

In [ ]:
# Histogram Code
# Create an array of a random Laplace distribution (a type of random number generator)
??? = np.random.laplace(loc=15, scale=3, size=100)
# Create a histogram using plt.hist()
n, bins, patches = plt.hist(x=???, bins='auto', color='#0504aa',
                            alpha=0.7, rwidth=0.85)
# Set grid for x and y
# set transperancy of the grid using alpha=0.5
plt.grid(axis='???', ???)
plt.grid(axis='???,' ???)
plt.xlabel('Value')
plt.ylabel('Frequency')
plt.title('My First Histogram Ever')
plt.text(23, 45, r'$\mu=15, b=3$')
maxfreq = n.max()
# Set a clean upper y-axis limit.
plt.ylim(ymax=np.ceil(maxfreq / 10) * 10 if maxfreq % 10 else maxfreq + 10)
plt.show()

In [ ]:
# Bonus: Create a scatter plot of random data

In [ ]:
# Load data from 'https://raw.githubusercontent.com/alanjones2/dataviz/master/london2018.csv'
# and print it
# First import libraries numpy, and pandas and matplotlib.pyplot
??? numpy as np
import ??? as pd
???
# Load data from the above url using pandas read_csv
weather = ???(???)
# Print the top 10 rows
print(???)

In [ ]:
# Use pandas describe() function to describe the data loaded above
???

In [ ]:
# Plot temperature min and max
weather.plot(y=[???], x='Month');

In [ ]:
# Plot the rain as above
weather.???

In [ ]:
# Plot the sun column
weather.???

## Visualising the iris dataset with seaborn

In [ ]:
# Import seaborn library
import ??? as sns
# Import load_iris
from sklearn.datasets import load_iris
# Load the dataset
dataset=load_iris()
# Place in pandas dataframe
data=pd.DataFrame(dataset["data"],columns=["Petal length","Petal Width","Sepal Length","Sepal Width"])
data["Species"]=dataset["target"]
data["Species"]=data["Species"].apply(lambda x: dataset["target_names"][x])
# Print top 10 rows
???

In [ ]:
# Describe the dataframe
???

In [ ]:
# use seaborn pairplot function to plot relationship between variables
sns.???(data, hue="Species")



---



---



> > > > > > > > > Â© 2025 Institute of Data


---



---